# Created by https://www.gitignore.io/api/psoccreator
# Edit at https://www.gitignore.io/?templates=psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
*.zip

# End of https://www.gitignore.io/api/psoccreator